.Form {
  margin-top: 3em;

  .input {
    color: black;
  }

  label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2em;
    input {
      color: black;
    }
  }
}
