.Form {
  .smallInputs {
    display: flex;
    justify-content: space-between;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;

    .ant-form-item-explain-error {
      font-size: 0.7em;
      text-align: left;
      margin-bottom: 1em;
    }
  }

  .ant-form-item-control-input-content {
    flex: inherit;
    padding: 0;
  }

  .ant-form-item-label {
    overflow: inherit;
    text-align: left;
  }

  .isValid {
    pointer-events: all;
    flex: inherit;
    padding: 0;
    padding: 1em 2em;
  }

  .ant-form-item-has-error ~ .ant-form-item .isValid {
    background-color: red;
  }
}
