.Layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 9em 4em;
  margin-top: 5em;

  @media screen and (max-width: 1020px) {
    grid-template-columns: 1fr;
  }
}

h2,
h3,
h4 {
  color: white;
}

aside {
  background-color: var(--purple);
  padding: 2em;
  width: 360px;
  border-radius: 6px;
  height: max-content;
}
