.Layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 9em 4em;
  margin-top: 5em;
}

h2,
h3,
h4 {
  color: white;
}

aside {
  border: 2px solid var(--pink);
  padding: 2em 1em;
  border-radius: 6px;
  margin-right: 2em;
  height: max-content;
}
