:root {
  --bg-color: rgb(21, 7, 31);
  --pink: #ff1d6b;
  --cyan: #7ad0c8;
  --yellow: #ffe33b;
  --purple: #6f16d3;
  --blue: #54b3ff;
  --orange: rgb(253, 181, 47);
  --dark: #23162e;
  --primary-font: "Press Start 2P", cursive;
}
