.background-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(116, 116, 116, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  p {
    color: black;
    font-size: 1rem;
  }

  button.ok-btn-modal {
    padding: 0.2rem 1rem;
    border-radius: 10px;
    transition: transform 0.2s;
    transform-origin: center;
    &:hover {
      transform: scale(1.05);
    }
  }

  svg {
    width: 80%;
    max-width: 500px;
  }

  .cls-1 {
    fill: #fff;
  }

  .cls-2 {
    fill: #221e20;
  }

  .cls-3 {
    fill: none;
  }
}
