.Customer {
  display: grid;
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  padding: 9em 4em;
  margin-top: 5em;
  min-height: 100vh;

  .TimeToClose {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
  }

  aside {
    grid-row-start: 2;
    width: fit-content;
    padding: 1rem;
    text-align: left;
    font-size: 1.2rem;
    border: white solid 2px;
    color: white;

    li {
      font-size: 2rem;
    }
    li:first-child {
      font-size: 3rem;
    }
    li:nth-child(2) {
      font-size: 2.8rem;
    }
    li:nth-child(3) {
      font-size: 2.6rem;
    }
    li:nth-child(4) {
      font-size: 2.4rem;
    }
    li:nth-child(5) {
      font-size: 2.2rem;
    }
  }
  @media screen and (max-width: 1020px) {
    grid-template-columns: 1fr;
  }
}

.Beers {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
  align-items: center;
}

div.beerPx {
  width: 50px;
  aspect-ratio: 1;
  background-image: url(/assets/beer-pixel.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
