.Customer {
  display: grid;
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  padding: 2rem;
  margin-top: 98px;
  height: calc(100vh - 100px);

  .TimeToClose {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
  }

  aside {
    grid-row-start: 2;
    grid-column-start: -2;
    width: fit-content;
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    color: white;
    border: none;
    display: flex;
    flex-direction: row;
    height: 100%;

    h2 {
      writing-mode: vertical-rl;
      text-orientation: upright;
      // transform: rotate(180deg);

      text-align: center;
    }

    ul {
      border: white solid 2px;
      padding: 0.5rem;
      height: 100%;
    }

    li {
      font-size: 2rem;
    }
    li:first-child {
      font-size: 3.2rem;
    }
    li:nth-child(2) {
      font-size: 2.6rem;
    }
    li:nth-child(3) {
      font-size: 2.4rem;
    }
    li:nth-child(4) {
      font-size: 2.2rem;
    }
    li:nth-child(5) {
      font-size: 2rem;
    }
  }

  #fullscreen {
    background-color: rgb(15, 104, 104);
    padding: 0.1rem;
    width: fit-content;
    font-size: 2rem;
  }

  @media screen and (max-width: 1020px) {
    grid-template-columns: 1fr;
  }
}

.Beers {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

div.beerPx {
  width: 50px;
  aspect-ratio: 1;
  background-image: url(/assets/beer-pixel.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
