@use "../../../index.scss";

.add {
  background-color: #7ad0c8;
  padding: 0.8em;
  color: white;
  border-radius: 50%;
  border: 4px solid #7ad0c8;
  box-shadow: inset 0px 0px 0px 2px #4f8580;
  box-sizing: border-box;
}
