.clock {
  display: flex;
  justify-content: start;
}

.manager {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.manager__header {
  grid-column: 1/-1;
  text-align: left !important ;
}

.inventory {
  display: flex;
  flex-direction: column;
}

.inventory * h2,
h3 {
  text-align: start;
  padding: 1rem;
}
