@use "../../index.scss";
.Bartender h1 {
  color: var(--pink);
}

.bulb {
  width: 25%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: solid 2px black;
  background-color: rgb(47, 79, 79);
  position: absolute;
  left: 50%;
  bottom: 300%;
  transform: translateX(-50%);
}

.bulb::after {
  content: "in use";
  position: absolute;
  width: 200%;
  left: 120%;
  color: white;
}

.bulb:nth-child(4) {
  width: 25%;
  bottom: 260%;
  background-color: rgb(79, 47, 47);
}

.bulb:nth-child(4)::after {
  content: "change";
}
