@use "../../../../index.scss";

.Product {
  background-color: white;
  border-radius: 10px;
  width: 70%;
  padding: 2em;
  margin: 1em;
  height: 180px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 4em;

  h3,
  p {
    color: black;
  }

  img {
    width: 130px;
    height: 130px;
    position: absolute;
    left: -50px;
    border-radius: 4px;
  }

  .Text {
    display: flex;
    flex-direction: column;
    margin-left: 6em;
    width: 100%;
  }

  .actions {
    display: flex;
    justify-content: space-between;

    .amountWrapper {
      display: flex;
      .amount {
        margin: 0 1em;
      }
      & button {
        color: black;
      }
    }
  }
}
