@use "../../../../index.scss";

.Product {
  background-image: url(/assets/square-02.svg);
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin-right: 40px;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;

  img {
    width: 150px;
    height: 150px;
    left: -10px;
    top: 0px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0px black;
  }

  .details {
    font-size: 0.8em;
  }

  .moreInfo {
    position: absolute;
    right: 30px;
    top: -30px;
    background-color: var(--pink);
    border: none;
    color: white;
    box-shadow: 0 0 4px 0px #898989;
    padding: 0.5em 1em 1.2em;
  }

  .mainInfo {
    display: flex;
    align-items: center;
    margin: 1em 0 2em;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      p,
      h3 {
        color: black;
      }

      h3 {
        text-align: center;
        margin-bottom: -1em;
      }
      .money {
        display: flex;
        align-items: center;
        margin-top: 1em;

        img {
          box-shadow: none;
          width: 40px;
          height: auto;
          margin-right: 1em;
        }

        .price {
          font-size: 2em;
          margin-bottom: 0;
        }
      }
    }
  }
  .actions {
    display: flex;
    justify-content: space-around;

    .amountWrapper {
      display: flex;
      align-items: center;

      button {
        background-color: black;
        border: none;
        font-size: 1.3em;
        padding: 0.5em;
        color: white;
        box-shadow: 0px 2px 6px 2px #c3c3c3;
      }

      .amount {
        margin: 0 1em;
      }
    }

    .buttonAdd {
      background-color: var(--blue);
      border: none;
      color: white;
      font-size: 1.2em;
      border-radius: 50%;
      padding: 1.4em 1em;
      box-shadow: 0px 2px 6px 2px #c3c3c3;
    }
  }
  .ProductReverse {
    width: 10%;
  }
}

//   .frontCard {
//     position: absolute;
//     right: 8em;
//     top: 1em;
//     background-color: var(--pink);
//     border: none;
//     padding: 0.5em;
//   }

//   .buttonDelete {
//     cursor: pointer;
//     background-color: #7ad0c8;
//     padding: 0.8em;
//     color: white;
//     border-radius: 50%;
//   }

//   .buttonAdd {
//     background-color: #7ad0c8;
//     padding: 0.8em;
//     color: white;
//     border-radius: 50%;
//     border: 4px solid #7ad0c8;
//     box-shadow: inset 0px 0px 0px 2px #4f8580;
//     box-sizing: border-box;
//     cursor: pointer;
//     box-shadow: 0 0 4px 0px #000000b8;

//     &:hover {
//       background-color: #4f8580;
//     }
//   }

//   // @media screen and (max-width: 1024px) {
//   //   .Product section {
//   //     display: none;
//   //   }
//   // }
//   @media screen and (max-width: 1024px) {
//     .Product {
//       width: 100%;
//       height: 200px;
//     }
//   }
// }

// .ProductReverse {
//   flex-direction: column;
//   height: auto;
//   font-family: sans-serif;
//   //   position: absolute;
//   //   z-index: 999;
// }

// // @media screen and (max-width: 1400px) {
// //   .Product,
// //   .ProductReverse {
// //     width: 80%;
// //   }
// // }
