.manager {
  .inventoryList {
    display: flex;
    flex-direction: column;
    color: white;

    h3 {
      display: none;
    }
  }

  .Depot {
    border: solid 2px var(--orange);
    border-radius: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    filter: drop-shadow(0px 0px 2px black);

    h3 {
      display: block;
      margin: 1rem 4rem;
    }
  }

  .Depot ul {
    width: min(1600px, 100%);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(450px, 90vw), 400px));
    gap: 1rem;
    padding: 1rem 4rem;
    list-style: none;
    margin: 1rem;
  }
}

@media screen and (max-width: 1020px) {
  .manager {
    .inventoryList {
      display: flex;
      flex-wrap: wrap;
      width: 70vw;
      margin: 0 auto;

      .Depot {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          padding: 1rem;

          li {
            padding: 0.3rem;
          }
        }
      }
    }
  }
}
