.inventory {
  display: flex;
  flex-direction: column;
}

.inventory > h2,
h3 {
  text-align: start;
  padding: 1rem;
}

.Depot {
  border: solid 2px var(--pink);
  border-radius: 1em;
}

.Depot ul {
  width: min(1600px, 100%);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 90vw), 400px));
  gap: 1rem;
  padding: 1rem 2rem;
  list-style: none;
  text-align: left;
  font-size: 80%;
}
