.App {
  text-align: center;
  background-image: url(assets/bg_dark.svg);
  background-color: #cccccc; /* Used if the image is unavailable */
  min-height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-family: var(--primary-font);
  position: relative;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 2em 4em;
    position: fixed;
    top: 0;
    background-color: #000;

    h1 {
      color: white;
    }

    .navigation a {
      color: white;
      margin: 0 1em;

      &:hover {
        color: red;
      }
    }
  }

  .notShown {
    display: none;
  }

  main {
    color: white;
    padding: 12em 5em;

    h1 {
      font-size: 2em;
      color: white;
      text-align: center;
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 680px) {
    .mobileHeader {
      position: fixed;
      background-color: white;
      bottom: 0;
      left: 0;
      width: 100vw;
      justify-content: space-around;
      z-index: 999;
      nav a {
        color: black;
        margin: 1.5em;
      }

      h1 {
        display: none;
      }

      .notShown {
        display: inline;
      }
    }
  }
}
