.App {
  text-align: center;
  padding: 2em;
  background: var(--bg-color);
  font-family: var(--primary-font);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 5em;

    h1 {
      font-size: 2em;
      color: white;
      text-align: left;
      margin-bottom: 0;
    }

    .navigation a {
      color: white;
      margin: 0 1em;

      &:hover {
        color: yellow;
      }
    }
  }

  .mobileHeader {
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: white;
    z-index: 999;
    height: 80px;

    nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      a {
        color: black;
      }
    }

    h1 {
      display: none;
    }
  }
}
